


.text-header {
    text-align: center;
    color: white;   
    background-color: black;
    margin-bottom: 0px;
    padding: 1%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


#main-div-left {
    width: 30%;
    background-color: rgb(210, 215, 216);
    padding : 1%;
    
}

#main-div-left input {
    width: 50%;
}

#main-div-right {
    padding-top: 1.3%;
    padding-left: 1.3%;
}
#icon {
    padding-top: 4px;
}

#todayy-weather {
    height: 230px;
    width : 800px;
}
.show {
    border: solid 1px rgb(63, 62, 62);
    border-right: none;
    padding-left: 3%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px ;
}

#container {
  width: 100%;
}

.each-day {
    display: inline-block;
    color: white;
    text-align: center;
    margin : 5px;
    padding : 0% 1%;
    border: solid 1px #186ff1;
    border-radius : 6px;
    background-color: #186ff1;
}

#container {
    display: inline-block;
}